body {
  min-height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Esteban", serif;
}
a {
  color: black;
  margin-bottom: 20px;
  padding: 0px 30px;
  border: 3px solid transparent;
  text-decoration: none;
}
a:link, a:visited {
 
  color: black;

  text-align: center;
  text-decoration: none;
  padding: 0px 30px;
  border: 3px solid transparent;
  
}
a:hover, a:active {
  color: black !important;
  background-color: transparent;
  border: 3px solid black;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.hamBtn{
  height: 90px;
  width: 100px;
  margin-top: 10px;
  border: solid black 5px;
}






.navImage {
  background-image: url(../assets/alphalonglogovector.png);
  min-height: 100px;
  background-position: left;
  background-size: cover;
  position: relative;
}
.mNavImg{
  width: 75%;
  

}
.navText {
  font-size: 20px;
}

.text-box {
  background-color: #2d3143cc;
  color: #e9e9e9;
}

.hero {
  background-color: #252937;
  color: #e9e9e9;
}

.nav-item {
  font-family: "Orelega One", serif;
}

.asterisk {
  color: #fd0100;
}

.input-box,
.form-control:enabled,
.form-check-input {
  background-color: #bfc0c0;
  margin-bottom: 15px;
}

/* .form-control:enabled{
  background-color: #5d81dc;
} */

.btn-ae {
  background-color: #5d81dc;
  color: black;
}

.btn-ae:hover {
  background-color: #7f9ce4;
  color: black;
}

.btn-ae:active {
  background-color: #a1acc8 !important;
  color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

hr {
  color: white;
}
