body {
  min-height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Esteban", serif;
}

p {
  color: white;
}

a {
  color: black;
  margin-bottom: 20px;
  padding: 0px 30px;
  border: 3px solid transparent;
  text-decoration: none;
}
a:link,
a:visited {
  color: black;

  text-align: center;
  text-decoration: none;
  padding: 0px 30px;
  border: 3px solid transparent;
}
a:hover,
a:active {
  color: black !important;
  background-color: transparent;
  border: 3px solid black;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.hamBtn {
  height: 90px;
  width: 100px;
  margin-top: 10px;
  border: solid black 5px;
}
.vanAlpha {
  contain: content;
}
.vanPic {
  width: 100%;
}

.navImage {
  background-image: url(../assets/alphalonglogovector.png);
  min-height: 120px;
  background-position: left;
  background-size: cover;;
}

.mNavImg {
  width: 75%;
}
.navText {
  font-size: 20px;
}

.text-box {
  background-color: #2d3143cc;
  color: #e9e9e9;
}

.hero {
  background-color: #252937;
  color: #e9e9e9;
  min-height: 200px;
  max-height: max-content;
}

.footer{
  background-color: #252937;
  color: #e9e9e9;
}

.nav-item {
  font-family: "Orelega One", serif;
}

.asterisk {
  color: #fd0100;
}

.input-box,
.form-control:enabled,
.form-check-input {
  background-color: #bfc0c0;
  margin-bottom: 15px;
}

/* .form-control:enabled{
  background-color: #5d81dc;
} */

.btn-ae,
button.carousel-control-prev,
button.carousel-control-next,
button.carousel-control-prev:focus,
button.carousel-control-next:focus {
  background-color: #2D3142;
  color: black;
  opacity: 80%;
}

.btn-ae:hover,
button.carousel-control-prev:hover,
button.carousel-control-next:hover {
  background-color: #2D3142;
  color: black;
  opacity: 100%;
}

.btn-ae:active,
button.carousel-control-prev:active,
button.carousel-control-next:active {
  background-color: #a1acc8 !important;
  color: black !important;
  opacity: 100%;
}

button.carousel-control-prev {
  left: -89px !important;
}

button.carousel-control-next {
  right: -89px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

hr {
  color: white;
}

@media (max-width: 992px) {
  .hideHero {
    display: none;
  }
}

/* #map {
  height: 400px;
  The height is 400 pixels
  width: 100%;
  The width is the width of the web page
} */

gmp-map {
  height: 100%;
}

a.nav-link:focus {
  background: black;
  color: #e9e9e9 !important;
}

li {
  color: #e9e9e9 !important;
}
