body {
  min-height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Esteban", serif;
}

.navImage {
  background-image: url(../assets/alphalonglogovector.png);
  min-height: 100px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.navText {
  font-size: 20px;
}

.text-box {
  background-color: #2d3143cc;
  color: #e9e9e9;
}

.hero {
  background-color: #252937;
  color: #e9e9e9;
}

.nav-item {
  font-family: "Orelega One", serif;
}

.asterisk {
  color: #fd0100;
}

.input-box,
.form-control:enabled,
.form-check-input {
  background-color: #bfc0c0;
  margin-bottom: 15px;
}

/* .form-control:enabled{
  background-color: #5d81dc;
} */

.btn-ae {
  background-color: #5d81dc;
  color: black;
}

.btn-ae:hover {
  background-color: #7f9ce4;
  color: black;
}

.btn-ae:active {
  background-color: #a1acc8 !important;
  color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

hr {
  color: white;
}
